<ion-view view-title="抽查情况">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-left" nav-direction="back"
                ui-sref="security-check-project-edit">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="security-check-project-edit">提交</button>
    </ion-nav-buttons>

    <ion-content scroll="false" class="safety-check-company-checkrandom">
        <!-- 固定显示区 开始 -->
        <table class="width-full">
            <thead>
            <td><p>序号</p></td>
            <td><p>检查内容</p></td>
            <td><p>抽查情况</p></td>
            </thead>
        </table>
        <!-- 固定显示区 结束 -->

        <!-- 可滚动区 开始 -->
        <ion-scroll class="scroll">
            <table class="width-full">
                <tr>
                    <td><p>4.2.3</p></td>
                    <td class="left"><p>现行有效的管理性、技术性、经营性、等内部文件和规范图纸、设计（洽商）变更等外部资料清单及收发文登记</p></td>
                    <td rowspan="2" ng-click="addSpotCheckSheet(2)"><p><a>请点击</a></p></td>
                </tr>
                <tr>
                    <td><p>4.2.4</p></td>
                    <td class="left">
                        <p>1、施工质量记录清单</p>
                        <p>2、综合月报表</p>
                    </td>
                </tr>
                <tr>
                    <td><p>5.4.1</p></td>
                    <td class="left"><p>工程质量、安全、环境目标</p></td>
                    <td rowspan="2" ng-click="addSpotCheckSheet()"><p><a>请点击</a></p></td>
                </tr>
                <tr>
                    <td><p>5.4.4</p></td>
                    <td class="left">
                        <p>1、重大环境因素和重大危险源清单及应对措施</p>
                        <p>2、基抗支护、模板工程、起重作业等安全技术措施</p>
                        <p>3、"安全三宝"使用情况及脚手架防护措施</p>
                        <p>4、焊接作业、施工用电安全操作和规范管理</p>
                        <p>5、"四口五临边"及高处作业的安全防护措施</p>
                        <p>6、生产污水沉淀地、食堂隔油池设置情况</p>
                        <p>7、噪声、粉尘和光污染的应对措施</p>
                        <p>8、易燃易爆危险品、有害有毒物质的防护措施</p>
                    </td>
                </tr>
                <tr>
                    <td><p>6.2</p></td>
                    <td class="left">
                        <p>人力资源</p>
                        <p>1、管理人员、特殊工种、操作工人</p>
                    </td>
                    <td ng-click="addSpotCheckSheet()"><p><a>请点击</a></p></td>
                </tr>
                <tr>
                    <td><p>6.3.2</p></td>
                    <td class="left">
                        <p>机械设备台账及维护保养</p>
                        <p>1、机械设备台账</p>
                        <p>2、维护保养记录</p>
                    </td>
                    <td ng-click="addSpotCheckSheet()"><p><a>请点击</a></p></td>
                </tr>
                <tr>
                    <td><p>6.4</p></td>
                    <td class="left">
                        <p>安全文明管理及环境保护节能降耗等实施情况</p>
                        <p>1、噪声、污水、粉尘、检测和控制措施及有毒有害物质排放、光污染控制、易燃易爆管理、巡查记录</p>
                        <p>2、设有分类封闭的垃圾箱</p>
                        <p>3、临时用电的专项验收和生活设施的总体验收</p>
                        <p>4、消防安全设施的验收和实施情况</p>
                        <p>5、节电、节水措施及巡查记录</p>
                        <p>6、办公区、生活区环境卫生及食堂隔油池设置</p>
                        <p>7、八牌一图</p>
                        <p>8、公司CI形象和现场文明施工标志牌</p>
                    </td>
                    <td ng-click="addSpotCheckSheet()"><p><a>请点击</a></p></td>
                </tr>
                <tr>
                    <td>
                        <p>7.1</p>
                        <p>7.2</p>
                    </td>
                    <td class="left">
                        <p>1、合同及施组控制</p>
                        <p>2、健全项目部管理组织机构</p>
                        <p>3、施组和单项施工方案编、审查况</p>
                        <p>4、月作业计划、周作业计划编制执行</p>
                        <p>5、合同注册备案及施工人员备案</p>
                        <p>6、顾客和及其相关方的沟通</p>
                    </td>
                    <td ng-click="addSpotCheckSheet()"><p><a>请点击</a></p></td>
                </tr>
                <tr>
                    <td><p>4.2.3</p></td>
                    <td class="left"><p>现行有效的管理性、技术性、经营性、等内部文件和规范图纸、设计（洽商）变更等外部资料清单及收发文登记</p></td>
                    <td rowspan="2" ng-click="addSpotCheckSheet()"><p><a>请点击</a></p></td>
                </tr>
                <tr>
                    <td><p>4.2.4</p></td>
                    <td class="left">
                        <p>1、施工质量记录清单</p>
                        <p>2、综合月报表</p>
                    </td>
                </tr>
            </table>
        </ion-scroll>
        <!-- 可滚动区 结束 -->
    </ion-content>
</ion-view>