<ion-view view-title="{{safetyContent.checkContentName}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ui-sref="security-check-add-subject">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-checkbox ng-click="!item.disabled?showSelected(item):null" ng-repeat='item in checkItems'
                          ng-model='item.selected' ng-disabled='item.disabled'>{{item.checkItemName}}
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>
