<ion-header-bar align-title="center" class="bar-positive has-tabs-header">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" nav-direction="back" ui-sref="frame/home">
        </button>
    </div>
    <div class="h1 title"></div>
    <div class="buttons">
        <button class="button button-icon ion-arrow-swap has-badge-assertive" nav-direction="back">
            <span class="badge badge-assertive">11</span>
        </button>
    </div>
    <div class="button-bar tab-title">
        <a class="button button-outline light" ui-sref="security-info" nav-direction="enter">安全资料</a>
        <a class="button button-light" ui-sref="security-check" nav-direction="enter">安全检查</a>
    </div>
</ion-header-bar>

<ion-view>
    <ion-content class="has-header safety-check-project-list" scroll="false">
        <!-- 固定显示区 开始 -->
        <div class="row center border-bottom height-44">
            <div class="col" ng-click="showFilter('filterType')">
                <p class="title border-right">全部
                    <i class="icon" ng-class="filterType? 'ion-chevron-up':'ion-chevron-down'"></i>
                </p>
            </div>
            <div class="col" ng-click="showFilter('filterDetail')">
                <p class="title">筛选
                    <i class="icon" ng-class="filterDetail ? 'ion-chevron-up':'ion-chevron-down'"></i>
                </p>
            </div>
            <!--点击全部，显示列表-->
            <div class="security-filte-all ng-hide" ng-show="filterType">
                <div class="popover-bg" ng-click="hideFilter()"></div>
                <ion-list class="list">
                    <ion-radio class="f14" ng-model="choice" ng-value="'A'" ng-click="hideFilter()">全部
                    </ion-radio>
                    <ion-radio class="f14" ng-model="choice" ng-value="'B'" ng-click="hideFilter()">未发现问题
                    </ion-radio>
                    <ion-radio class="f14" ng-model="choice" ng-value="'C'" ng-click="hideFilter()">待处理
                    </ion-radio>
                    <ion-radio class="f14" ng-model="choice" ng-value="'D'" ng-click="hideFilter()">待复查
                    </ion-radio>
                    <ion-radio class="f14" ng-model="choice" ng-value="'E'" ng-click="hideFilter()">复查未通过
                    </ion-radio>
                    <ion-radio class="f14" ng-model="choice" ng-value="'F'" ng-click="hideFilter()">复查通过
                    </ion-radio>
                    <ion-radio class="f14" ng-model="choice" ng-value="'G'" ng-click="hideFilter()">我提交的
                    </ion-radio>
                </ion-list>
            </div>
            <!--点击筛选，显示列表-->
            <div class="security-filte-all ng-hide" ng-show="filterDetail">
                <div class="popover-bg" ng-click="hideFilter()"></div>
                <ion-list class="list ">
                    <label class="item item-input f14">检查人员：
                        <input type="text" placeholder="请输入检查人员">
                    </label>
                    <a class="item item-icon-right f14 padding" ng-click="showCheckTypeSheet()">
                        检查类型：全部
                        <i class="icon button-small ion-chevron-right"></i>
                    </a>
                    <a class="item item-icon-right f14 padding" ng-click="showCheckIsTroubleSheet()">
                        是否存在问题：全部
                        <i class="icon button-small ion-chevron-right"></i>
                    </a>
                    <a class="item item-icon-right f14 padding" ng-click="showStartTime()">
                        开始时间：{{startTime.date | date:'yyyy-MM-dd'}}
                        <i class="icon button-small ion-chevron-right"></i>
                    </a>
                    <a class="item item-icon-right f14 padding" ng-click="showEndTime()">
                        结束时间：{{endTime.date | date:'yyyy-MM-dd'}}
                        <i class="icon button-small ion-chevron-right"></i>
                    </a>
                    <label class="item item-input f14">处理人员：
                        <input type="text" placeholder="请输入处理人员">
                    </label>

                    <div class="row item">
                        <div class="col">
                            <button class="button button-outline button-positive button-block button-small">
                                恢复默认
                            </button>
                        </div>
                        <div class="col">
                            <button class="button button-outline button-positive button-block button-small"
                                    ng-click="hideFilter()">
                                确认
                            </button>
                        </div>

                    </div>
                </ion-list>
            </div>
        </div>
        <!-- 固定显示区 结束 -->
        <!-- 滚动显示区 开始 -->
        <ion-scroll class="filter-scroll has-subheader">
            <div class="list ">
                <ion-item class="item-avatar">
                    <div class="left-img item-image">
                        <div class="check-icon royal-bg f12">
                            <span>待<br>处理</span>
                        </div>
                    </div>
                    <h3 class="f14">日常检查</h3>
                    <p>日常检查日常检查日常检查日常。</p>
                    <i class="badge">2016-12-03</i>
                </ion-item>
                <ion-item class="item-avatar">
                    <div class="left-img item-image">
                        <div class="check-icon energized-bg f12">
                            <span>待<br>复查</span>
                        </div>
                    </div>
                    <h3 class="f14">日常检查</h3>
                    <p>日常检查日常检查日常检查日常。</p>
                    <i class="badge">2016-12-03</i>
                </ion-item>
                <ion-item class="item-avatar">
                    <div class="left-img item-image">
                        <div class="check-icon assertive-bg f12">
                            <span>未<br>通过</span>
                        </div>
                    </div>
                    <h3 class="f14">日常检查</h3>
                    <p>日常检查日常检查日常检查日常。</p>
                    <i class="badge">2016-12-03</i>
                </ion-item>
                <ion-item class="item-avatar">
                    <div class="left-img item-image">
                        <div class="check-icon royal-bg f12">
                            <span>待<br>处理</span>
                        </div>
                    </div>
                    <h3 class="f14">日常检查</h3>
                    <p>日常检查日常检查日常检查日常。</p>
                    <i class="badge">2016-12-03</i>
                </ion-item>
                <ion-item class="item-avatar">
                    <div class="left-img item-image">
                        <div class="check-icon energized-bg f12">
                            <span>待<br>复查</span>
                        </div>
                    </div>
                    <h3 class="f14">日常检查</h3>
                    <p>日常检查日常检查日常检查日常。</p>
                    <i class="badge">2016-12-03</i>
                </ion-item>
                <ion-item class="item-avatar">
                    <div class="left-img item-image">
                        <div class="check-icon assertive-bg f12">
                            <span>未<br>通过</span>
                        </div>
                    </div>
                    <h3 class="f14">日常检查</h3>
                    <p>日常检查日常检查日常检查日常。</p>
                    <i class="badge">2016-12-03</i>
                </ion-item>
                <ion-item class="item-avatar">
                    <div class="left-img item-image">
                        <div class="check-icon royal-bg f12">
                            <span>待<br>处理</span>
                        </div>
                    </div>
                    <h3 class="f14">日常检查</h3>
                    <p>日常检查日常检查日常检查日常。</p>
                    <i class="badge">2016-12-03</i>
                </ion-item>
                <ion-item class="item-avatar">
                    <div class="left-img item-image">
                        <div class="check-icon energized-bg f12">
                            <span>待<br>复查</span>
                        </div>
                    </div>
                    <h3 class="f14">日常检查</h3>
                    <p>日常检查日常检查日常检查日常。</p>
                    <i class="badge">2016-12-03</i>
                </ion-item>
                <ion-item class="item-avatar">
                    <div class="left-img item-image">
                        <div class="check-icon assertive-bg f12">
                            <span>未<br>通过</span>
                        </div>
                    </div>
                    <h3 class="f14">日常检查</h3>
                    <p>日常检查日常检查日常检查日常。</p>
                    <i class="badge">2016-12-03</i>
                </ion-item>
            </div>
        </ion-scroll>
        <!-- 滚动显示区 结束 -->
    </ion-content>
</ion-view>

<!-- 固定位置 添加按钮 -->
<i class="positive-bg btn-fixed-add light"
   ng-class="filterType || filterDetail ? 'ng-hide':'ng-show'" ui-sref="security-check-add"
   nav-direction="forward">
    <i class="icon ion-plus-round"></i>
</i>
<!-- 显示 删选菜单中 开始时间 弹框 -->
<script id="start-time.html" type="text/ng-template">
    <ion-modal-view class="show-time-modal">
        <onezone-datepicker datepicker-object="startTime">
        </onezone-datepicker>
    </ion-modal-view>
</script>
<!-- 显示 删选菜单中 结束时间 弹框 -->
<script id="end-time.html" type="text/ng-template">
    <ion-modal-view class="show-time-modal">
        <onezone-datepicker datepicker-object="endTime">
        </onezone-datepicker>
    </ion-modal-view>
</script>




